$lightSectionColor: rgba(21, 21, 21, 1);
$darkSectionColor: rgba(0, 0, 0, 1);

$primaryBtn: rgba(255,230,0,1);
$secondaryBtn: rgba(24, 136, 255, 1);
$secondaryBtnFaded: rgba(71, 160, 255, .3);


$primaryTextColor: rgba(255,255,255,1);
$primaryTextColorFaded: rgba(255,255,255,.5);
$secondaryTextColor: rgba(0,0,0,1);

$maxSectionWidth: 1920px;
$viewWidth: 100vw;
