@import '../stylingGeneral/variables';


.headerWrapper{
  width: 100%;
  background-color: $darkSectionColor;
  display: flex;
  flex-direction: row;
  justify-content: center;
  
  .navbar {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 90%;
      max-width: 1200px;
      align-items: center;
      padding: 1rem 0;
  
    }
}
  
  .navbar-logo img {
    max-height: 50px;
  }
  
  .fa-firstdraft {
    margin-left: 0.5rem;
    font-size: 1.6rem;
  }
  
  .nav-menu {
    display: flex;
    flex-direction: row;
    list-style: none;
    text-align: center;
    justify-content: flex-start;
    margin: 0;
  }
  
  li.nav-item {
    display: flex;
    align-items: center;
    margin-left: 1rem;
    position: relative;
    font-weight: bold;
  }
  
  .nav-links {
    color: $primaryTextColor;
    text-decoration: none;
    padding: .25rem .5rem;
  }

  .nav-links:hover{
    color: $primaryTextColor;
    text-decoration: none;
  }
  
  .nav-links-main:hover {
    // background-color: $secondaryBtn;
    // border-radius: 0px;
    border-bottom: 2px solid $secondaryBtn;
  }
  
  .fa-bars {
    color: $primaryTextColor;
  }
  
  .mobileMenu {
    display: none;
  }
  
  .menu-icon {
    display: none;
  }





  
  @media screen and (max-width: 960px) {

     .headerWrapper{
      height: 100%;
     }

    li.nav-item, div.nav-item {
      display: flex;
      align-items: center;
      margin-left: 0;
      position: relative;
      font-weight: bold;
      width: 100%;
    }

    .navbar {
      height: 82px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    .navbarItems {
      position: relative;
    }
    
    .nav-menu {
      display: flex;
      flex-direction: column;
      width: 100vw;
      min-height: 100vh;
      height: 100%;
      position: absolute;
      top: 82px;
      left: -105vw;
      opacity: 1;
      transition: all 0.5s ease;
      position: relative;
    }
  
    .nav-menu.active {
      background: $darkSectionColor;
      left: -5vw;
      opacity: 1;
      transition: all .5s ease;
      z-index: 1;
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100vw;
      position: absolute;
      
      
    }
  
    a.nav-links, div.nav-links {
      text-align: center;
      padding: 2rem;
      width: 100%;
      display: table;
      margin-bottom: 1rem;
    }
  
    .nav-links:hover {
      background-color: $secondaryBtn;
      border-radius: 0;
    }
  
    .navbar-logo {
      position: absolute;
    }
  
    .menu-icon {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(0%, 50%);
      font-size: 1.8rem;
      cursor: pointer;
    }
  
    .fa-times {
      color: $primaryTextColor;
      font-size: 2rem;
    }
  
    .mobileMenu {
      display: block;
    }
  
    .nav-links-mobile:hover {
      background: $primaryTextColor;
      color: $secondaryBtn;
      transition: 250ms;
    }
  
    .btn {
      display: none;
    }
  }